@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Estilo1.css" />
    <title>Index</title>
</head>
<body>
    <div>
       <h2>@ViewBag.Greting Hola Amigo!!!</h2>
       <h1>Vamos a tener una fiesta increble !!!!</h1><br />
       
       <h3> @Html.ActionLink("RSV ahora", "RsvpForm")</h3>
    </div>
</body>
</html>
