
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Estilo.css" />
    <title>Noencontrado</title>
</head>
<body>
     <center>
    <div class="Index">
        <p><h1>Favor de ingresar un codigo de empleado valido</h1></p>
    <a href="~/Home/Index"> <input class="boton negro redondo" type="submit" value="Volver al Inicio" /></a>
    </div>
        </center>
</body>
</html>
