@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script> 
        function timedfresh(timeoutPeriod) {
            setTimeout("location.reload(true);", timeoutPeriod);
        }
    </script>
</head>

<body>
    <div>
         <b>@ViewBag.Greeting  ITGAM!!!</b>(Msg desde View)
    </div>
</body>
</html>
