@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Estilo.css" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>INDICE</h1>
        <br />
        <h3> @Html.ActionLink("Vista String ", "Vista")</h3>
        <br />
        <h3> @Html.ActionLink("AutoProperty ", "AutoProperty")</h3>
        <br />
        <h3> @Html.ActionLink("CreateCollection ", "CreateCollection")</h3>
        <br />
        <h3> @Html.ActionLink("UseExtension ", "UseExtension")</h3>
    </div>
</body>
</html>
